:root {
    --lexical-indent-base-value: 20px;
}

/* #region Formatting */
.htmleditor-theme-text-bold {
    font-weight: bold;
}

.htmleditor-theme-text-italic {
    font-style: italic;
}

.htmleditor-theme-text-underline {
    text-decoration: underline;
}

.htmleditor-theme-text-strikethrough {
    text-decoration: line-through;
}

.htmleditor-theme-text-underline-strikethrough {
    text-decoration: underline line-through;
}

.htmleditor-theme-text-subscript {
    font-size: small;
}

.htmleditor-theme-text-superscript {
    font-size: small;
}

.htmleditor-theme-text-code {
    background: #ececec;
    word-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

.htmleditor-theme-text-highlight {
    background-color: yellow;
}

/* #endregion */

.htmleditor-theme-link {
    color: red;
}

/* #region elements */
.htmleditor-theme-paragraph {
    margin: 5px 0;
    line-height: 1rem;
}

.htmleditor-theme-heading-h1 {
    font-size: 2.125rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h2 {
    font-size: 1.875rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h3 {
    font-size: 1.5rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h4 {
    font-size: 1.25rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h5 {
    font-size: 1.125rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h6 {
    font-size: 1rem;
    margin-block: .5rem;
}

.htmleditor-theme-quote {
    padding: 10px 10px 10px 20px;
    border-left: 3px solid black;
    border-radius: 0 8px 6px 0;
    line-height: 120%;
    background-color: #ececec;
}

/* #endregion */

.htmleditor-theme-style-indent {}