:root {
    --lexical-indent-base-value: 20px;
}

.htmleditor-embedBlock {
    user-select: none;
    outline: 1px rgb(202, 202, 202) dashed;
    background-color: white;
}

.htmleditor-embedBlock-focus {
    outline: 2px solid #757ce8;
}

/* #region Formatting */
.htmleditor-theme-text-bold {
    font-weight: bold;
}

.htmleditor-theme-text-italic {
    font-style: italic;
}

.htmleditor-theme-text-underline {
    text-decoration: underline;
}

.htmleditor-theme-text-strikethrough {
    text-decoration: line-through;
}

.htmleditor-theme-text-underline-strikethrough {
    text-decoration: underline line-through;
}

.htmleditor-theme-text-subscript {
    font-size: small;
}

.htmleditor-theme-text-superscript {
    font-size: small;
}

.htmleditor-theme-text-code {
    background: #ececec;
    word-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

.htmleditor-theme-text-highlight {
    background-color: yellow;
}

/* #endregion */

.htmleditor-theme-link {
    color: #006c9e;
    text-decoration: underline;
}

.htmleditor-theme-inline-image {}

.htmleditor-theme-link:hover,
.htmleditor-theme-link:active,
.htmleditor-theme-link:focus {
    color: #2796af;

    /* cursor: default; */
}

/* #region elements */
.htmleditor-theme-paragraph {
    margin: 5px 0;
    clear: both;
    line-height: normal;
}

.htmleditor-theme-paragraph:hover {
    outline: 1px rgb(202, 202, 202) dashed;
}

.htmleditor-theme-heading-h1 {
    font-size: 2.125rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h2 {
    font-size: 1.875rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h3 {
    font-size: 1.5rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h4 {
    font-size: 1.25rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h5 {
    font-size: 1.125rem;
    margin-block: .5rem;
}

.htmleditor-theme-heading-h6 {
    font-size: 1rem;
    margin-block: .5rem;
}

.htmleditor-theme-listItem {
    margin: 0 0 0 32px;
}

.htmleditor-theme-ol1 {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.htmleditor-theme-ol2 {
    padding: 0;
    margin: 0;
    list-style-type: lower-alpha;
    list-style-position: inside;
}

.htmleditor-theme-ol3 {
    padding: 0;
    margin: 0;
    list-style-type: lower-roman;
    list-style-position: inside;
}

.htmleditor-theme-ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.htmleditor-theme-listItemChecked,
.htmleditor-theme-listItemUnchecked {
    position: relative;
    margin: 0 0 0 32px;
    padding: 0 0 0 24px;
    list-style-type: none;
    outline: none;
}

.htmleditor-theme-listItemChecked {
    text-decoration: line-through;
}

.htmleditor-theme-listItemUnchecked:before,
.htmleditor-theme-listItemChecked:before {
    content: '';
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    display: block;
    background-size: cover;
    position: absolute;
}

.htmleditor-theme-listItemUnchecked:focus:before,
.htmleditor-theme-listItemChecked:focus:before {
    box-shadow: 0 0 0 2px #a6cdfe;
    border-radius: 2px;
}

.htmleditor-theme-listItemUnchecked:before {
    border: 1px solid #999;
    border-radius: 2px;
}

.htmleditor-theme-listItemChecked:before {
    border: 1px solid rgb(61, 135, 245);
    border-radius: 2px;
    background-color: #3d87f5;
    background-repeat: no-repeat;
}

.htmleditor-theme-listItemChecked:after {
    content: '';
    cursor: pointer;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    display: block;
    top: calc(50% - 4px);
    left: 6px;
    width: 4px;
    right: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
}

.htmleditor-theme-nestedListItem {
    list-style-type: none;
}

.htmleditor-theme-nestedListItem:before,
.htmleditor-theme-nestedListItem:after {
    display: none;
}

.htmleditor-theme-quote {
    padding: 10px 10px 10px 20px;
    border-left: 3px solid black;
    border-radius: 0 8px 6px 0;
    line-height: 120%;
    background-color: #ececec;
}

/* #endregion */

.htmleditor-theme-style-indent {}